@import '~node_modules/modern-normalize/modern-normalize.css';
@import './utils/vars';
@import './components/cards';
@import './components/footer';
@import './utils/general-styles';
@import './components/modal';
@import './components/header';
@import './components/pagination';
@import './components/library';
@import './components/carousel';
@import './components/dark-light mode';
@import './components/scrollToTop';
@import './components/header-library';
@import './components/teamModal';
