.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-film {
  width: 30px;
  height: 28px;
  background-position: 0 0;
}
.icon-moon-o {
  width: 23px;
  height: 28px;
  background-position: -44px 0;
}
.icon-brightness_high {
  width: 24px;
  height: 24px;
  background-position: 0 -44px;
}

