<section class="carousel">
  <div class="title-holder">
    <div class="waviy">
      <span style="--i: 1">T</span>
      <span style="--i: 2">R</span>
      <span style="--i: 3">E</span>
      <span style="--i: 4">N</span>
      <span style="--i: 5">D</span>
      <span style="--i: 6">I</span>
      <span style="--i: 7">N</span>
      <span style="--i: 8">G</span>
      <span class="letter-space" style="--i: 9">_</span>
      <span style="--i: 10">N</span>
      <span style="--i: 11">O</span>
      <span style="--i: 12">W</span>
    </div>
  </div>
  <div class="swiper">
    <div class="swiper__wrapper"></div>
    <button class="carousel-prev">&#8249;</button>
    <button class="carousel-next">&#8250;</button>
    <a href="#" onclick="fetchMovieTrailer(); return false;">
      <svg class="youtube-icon" viewBox="0 0 24 24">
        <path
          d="M23.7,7.7c-0.3-1.2-1.2-2.2-2.4-2.4C20.1,5,12,5,12,5S3.9,5,2.7,5.3C1.5,5.5,0.5,6.5,0.3,7.7C0,9,0,12,0,12s0,3,0.3,4.3c0.3,1.2,1.2,2.2,2.4,2.4C3.9,19,12,19,12,19s8.1,0,9.3-0.3c1.2-0.3,2.2-1.2,2.4-2.4C24,15,24,12,24,12S24,9,23.7,7.7z M9.5,15.6V8.4l6.7,3.6L9.5,15.6z"
        ></path>
      </svg>
    </a>
  </div>
  <div class="mobile-container">
    <h2 class="video-title">WATCH TRAILER</h2>
    <p class="video-text">FOR THE MOST VOTED MOVIE</p>
    <div class="video-frame"></div>
  </div>
</section>
