<header class="container">
  <ul class="header__container">
    <li class="header__container--bar">
      <nav class="header__navigation">
        <ul class="header__navigation__menu">
          <li
            class="header__navigation__menu__item header__navigation__menu--named"
          >
            <a href="./index.html" class="header__navigation__menu__item--link"
              >Home</a
            >
          </li>
          <li class="header__navigation__menu__item">
            <a
              href="./library.html"
              class="header__navigation__menu__item--link"
              >My library</a
            >
          </li>
        </ul>
      </nav>
      <form class="header__search" id="form__search">
        <span class="header__search__container">
          <input
            type="text"
            placeholder="Movie search"
            autocomplete="off"
            name="searchQuery"
          />
          <button type="submit">
            <svg class="header__search__container--icon">
              <use href="images/icons8-search.svg#search"></use>
            </svg>
          </button>
        </span>
        <span id="searchError" class="header__search__container--error"></span>
      </form>
    </li>
    <li class="header__container__logo">
      <a href="index.html" class="header__container__logo--link">
        <span class="header__container__logo--icon">
          <svg class="header__container__logo--icon-svg">
            <use href="images/symbol-defs.svg#icon-film"></use>
          </svg>
        </span>

        <h1 class="header__title">Filmoteka</h1>
      </a>
    </li>

    <form class="filter_form" id="filter-form">
      <select
        class="filter_form__select"
        name="genreForm"
        id="genreForm"
      ></select>
      <select class="filter_form__select" name="yearForm" id="yearForm">
        <option value="">Year</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
        <option value="2008">2008</option>
        <option value="2007">2007</option>
        <option value="2006">2006</option>
        <option value="2005">2005</option>
        <option value="2004">2004</option>
        <option value="2003">2003</option>
        <option value="2002">2002</option>
        <option value="2001">2001</option>
        <option value="2000">2000</option>
      </select>
      <select class="filter_form__select" name="averageForm" id="averageForm">
        <option value="" selected>Popularity</option>
        <option value="10">10</option>
        <option value="9">9+</option>
        <option value="8">8+</option>
        <option value="7">7+</option>
        <option value="6">6+</option>
        <option value="5">5+</option>
        <option value="4">4+</option>
        <option value="3">3+</option>
        <option value="2">2+</option>
        <option value="1">1+</option>
      </select>
    </form>
  </ul>
</header>
