<!--<header>
  <div class="inner-container">
    <div class="logo">
      <a href=""> </a>
    </div>
    <nav>
      <ul>
        <li>
          Home
          <a href="./index.html"> Home</a>
        </li>
        <li>
          Library
          <a href="./library.html">Library</a>
        </li>
      </ul>
    </nav>
    <form action="">
      <input type="text" />
      <button>click me</button>
    </form>
  </div>
</header>
<header>
  <div class="header--container">
    <div class="search_wraper">
      <input class="search-input" placeholder="Movie search">
    </div>
  </div>
</header> -->
<header class="page__header">
  <div class="page__container">
    <div class="img">
      <img src="/src/images/headerimages1280w.jpg" alt="" style="width: 100%" />
    </div>
    <form class="header-search-form">
      <div class="search-form">
        <input
          type="text"
          name="search"
          class="form-input search"
          placeholder="Movie search"
        />
        <button type="submit" class="search-btn">
          <span class="search-icon"></span>
        </button>
      </div>
    </form>
    <div class="header_wraper">
      <nav class="header-navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <a
              class="navigation-list__link site-nav__link--current"
              href="/src/index.html"
              >Home</a
            >
          </li>
          <li class="navigation-list__item">
            <a class="navigation-list__link" href="/src/library.html"
              >My Library</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
