<header class="library-header">
  <div class="library-header__container header__container">
    <div class="library-header__container--bar">
      <nav class="library-header__navigation">
        <ul class="library-header__navigation--menu">
          <li class="library-header__navigation--menu--item">
            <a
              href="./index.html"
              class="library-header__navigation--menu--item--link"
              >Home</a
            >
          </li>
          <li
            class="library-header__navigation--menu--item header__navigation__menu--named"
          >
            <a
              href="./library.html"
              class="library-header__navigation--menu--item--link"
              >My library</a
            >
          </li>
        </ul>
      </nav>
      <div class="library-header__options">
        <button
          type="button"
          class="library-header__options--btn active-library"
          data-whichLibrary="watched"
        >
          Watched
        </button>
        <button
          type="button"
          class="library-header__options--btn"
          data-whichLibrary="queue"
        >
          Queue
        </button>
      </div>
    </div>
    <div class="library-header__logo">
      <a href="./index.html" class="library-header__logo--link">
        <span class="library-header__logo--icon">
          <svg class="library-header__logo--icon-svg">
            <use href="images/symbol-defs.svg#icon-film"></use>
          </svg>
        </span>
        <h1 class="library-header__logo--title header__title">Filmoteka</h1>
      </a>
    </div>
  </div>
</header>
