<header>
  <div class="inner-container">
    <div class="logo">
      <a href="">
        <img src="images/logo.png" alt="" width="20px" /> // asa trebuie, cu
        images/path imagine din images. In parcel, orice fisier incepe cautarea
        din src, ca si cum ar fi in src
      </a>
    </div>
    <nav>
      <ul>
        <li>
          Home
          <a href="./index.html"> Home</a>
        </li>
        <li>
          Library
          <a href="./library.html">Library</a>
        </li>
      </ul>
    </nav>
    <form action="">
      <input type="text" />
      <button>click me</button>
    </form>
  </div>
</header>
