<section class="pagination">
  <div class="inner-container pagination__container">
    <button type="button" id="prev-btn" class="pagination__button prev-btn">
      &larr;
    </button>
    <button type="button" class="pagination__button">1</button>
    <button type="button" class="pagination__button">2</button>
    <button type="button" class="pagination__button">3</button>
    <button type="button" class="pagination__button">4</button>
    <button type="button" class="pagination__button">5</button>
    <button type="button" class="pagination__button next-btn" id="next-btn">
      &rarr;
    </button>
  </div>
</section>
