<dialog class="film_info_modal" id="film_info_modal">
  <div id="modal" class="modal">
    <button type="button" class="close-button" id="close-button"></button>
    <div class="film_card">
      <div class="content">
        <div class="img_content">
          <div class="film-img" id="film-img" alt="Film Image">
            <button class="start-btn" id="start-btn"></button>
          </div>
        </div>
        <div class="info_content">
          <div class="film_title"></div>
          <div class="film_votes"></div>
          <div class="film_popularity"></div>
          <div class="film_original-title"></div>
          <div class="film_genre"></div>
          <div class="film_about">
            <div class="film_description"></div>
          </div>

          <div class="buttons">
            <button type="button" class="add-to-watch" id="btn">
              TO WATCHED
            </button>
            <button type="button" class="add-to-watch" id="btn">
              ADD TO QUEUE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
