<dialog class="film_info_modal" id="film_info_modal">
  <div id="modal" class="modal">
    <button type="button" class="close-button" id="close-button"></button>
    <div class="film_card">
      <div class="content">
        <div class="img_content">
          <div class="film-img" id="film-img" alt="Film Image">
            <button class="start-btn" id="start-btn"></button>
          </div>
        </div>
        <div class="info_content">
          <div class="film_title">film title</div>
          <div class="film_votes">film_votes</div>
          <div class="film_popularity">film_popularity</div>
          <div class="film_original-title">film_original-title</div>
          <div class="film_genre">film_genre</div>
          <div class="film_about">
            <span>About</span>
            <div class="film_description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque
              officia praesentium at ipsum explicabo mollitia aliquid illum quas
              modi quod, dolorem voluptatibus aspernatur facilis saepe quos
              aliquam. Aspernatur, at deleniti?
            </div>
          </div>

          <div class="buttons">
            <button type="button" class="add-to-watch" id="btn">
              TO WATCHED
            </button>
            <button type="button" class="add-to-watch" id="btn">
              ADD TO QUEUE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
