<dialog class="film_info_modal" id="film_info_modal">
  <div id="modal" class="modal">
    <button type="button" class="close-button" id="close-button">x</button>
    <div class="film_card">
      <div class="content">
        <div class="img_content">
          <div class="film-img" id="film-img" alt="Film Image"></div>
        </div>
        <div class="info_content">
          <h2 class="film_title">film title</h2>
          <div class="movie_info">
            <div class="film_votes group">votes:</div>
            <div class="film_popularity group">popularity:</div>
            <div class="film_original-title group">original-title:</div>
            <div class="film_genre group">genre:</div>
          </div>

          <div class="film_about">
            <span>About</span>
            <div class="film_description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque
              officia praesentium at ipsum explicabo mollitia aliquid illum quas
              modi quod, dolorem voluptatibus aspernatur facilis saepe quos
              aliquam. Aspernatur, at deleniti?
            </div>
          </div>

          <div class="buttons">
            <button type="button" class="add-to-watch" id="btn">
              TO WATCHED
            </button>
            <button type="button" class="add-to-watch" id="btn">
              ADD TO QUEUE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
