.filter_form__select {
  outline: none;
  border: none;
  color: $color;
  background-color: inherit;
  padding: 1px;
  display: inline-block;
  background-color: $white-color;
  border-radius: 7px;
}
.filter_form__select > option {
  background-color: #272e34;
  color: white;
}
.filter_form__select:not(:last-child) {
  margin-right: 3px;
  margin-bottom: 8px;
}

.filter_form__select:last-child {
  margin-bottom: 9px;
}

.filter_form {
  position: absolute;
  display: flex;

  text-align: center;
  font-size: 13px;
  top: 77%;
  left: 3%;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .filter_form {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0;
    padding: 0;
    top: 25%;
    left: 10%;
  }
}

@media screen and (min-width: 992px) {
  .filter_form {
    left: 8%;
  }
}

body.darkmode .filter_form__select {
  color: $white-color;
  background-color: #272e34;
}
