.footer {
  display: flex;
  justify-content: center;
  flex-basis: 320px;
  padding: 28px 42px;
  background-color: $grey-bg;
  border: 2px solid green;
  &__inner {
    display: flex;
  }
  &__pagination {
    background-color: $white-color;
    border: 2px solid red;
  }
  &__text {
    color: #545454;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    flex-basis: 768px;
    padding: 30px 143px;
  }
}
@media screen and (min-width: 1280px) {
  .pagination {
    flex-basis: 1280px;
    padding: 29px 399px;
  }
}
