.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 28px 0;

  &__container {
    display: flex;
    flex-direction: column;
    flex: 0 1 320px;
    border: 2px solid white;
  }
  &__text {
    color: #545454;
  }
}

.darkmode .footer__text {
  color: #fff;
}
.heart {
  color: $brand-color !important;
}
.students-link {
  text-decoration: underline;
  color: #fff;
  fill: currentColor;
  cursor: pointer;

  &:hover {
    color: orange;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    flex-basis: 768px;
    padding: 30px 143px;
  }
}
@media screen and (min-width: 1280px) {
  .pagination {
    flex-basis: 1280px;
    padding: 29px 399px;
  }
}
