.page__header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: brown;
  background-image: url(/src/images/headerimages1280w.jpg);
}

.navigation-list__item {
  color: aqua;
}
