/*.container {
  display: flex;
  justify-content: center;
  background-color: chartreuse;
  // width: 90%;

}  */
.no-movie {
  position: relative;
  width: 100%;
  height: 100%;

  .images-watched {
    position: relative;
    overflow: hidden;
    width: 100%;
    //width: 973px;
    display: flex;
    justify-content: center;
    margin-top: 500px;
  }
  .text {
    position: absolute;
    top: 180px;
    right: 244px;
    text-align: center;
    z-index: 1;
    font-size: 39px;
    width: 832px;
    background-color: $brand-color;
    color: $white-color;
    text-transform: uppercase;
  }
}

.is-hidden {
  visibility: hidden;
}
